.card {
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
}

.card-header {
    position: relative;
    margin-bottom: 20px;
}

.card img {
    width: 300px;
    border-radius: 10px;
}

app-app-button {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.product-category {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 28, 28);
}

.product-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.product-price {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 60, 0);
    font-weight: bold;
}